.banner {
	background-image: url(banner.png);
	background-repeat: no-repeat;
	height: 250px;
	background-size: cover;
	font-size: 50px;
	text-align: center;
	color: white;
	padding-top: 0px; 
}
	
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
	background-color: #3b4358;
	color: white;
	margin-top: 50px;
}
.menu li {
	list-style: none
}
.menu li a{
	text-decoration: none;
}
.menu li a:visited {
	text-decoration: underline;
	background: #purple;
}
.menu li a:hover {
	text-decoration: underline;
	background: #455580;
}
.menu li a:active {
	text-decoration: underline;
	background: green;
}
.navigation a{
  	display: inline-block;
    vertical-align: top;
    margin-right: 20px;	
    color: white;
}
footer {
    background-color: #3b4358;
    text-align: center;
    color: white;
    display: flex;
    padding: 40px 17%;
    font-size: 18px;
    clear: both;
    position: relative;
	margin-top: -200px;
}
body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    background-color: #e4eef5;
}
 .email {
	color: white;
}
li a {
	color: white;
}
.contacts {
	float: left	;
}
.categories {
	margin-left: 200px;
}
.quick_links {
    margin-left: 200px;
}
#task img {
	float: left;
}
#task p {
	margin-top: 50px;
	border: 1px blue;
	margin-left: 30%;
	background-color: 	#f9aeae;
}
#requirements {
	margin-top: 100px;
}
#task img {
	margin: 0px 20px 0px 0px;

}
.main_content {
	margin-top: 50px;
}
#task p{
	width: 80%;
	height: auto;
	border: 1px solid black;
}
#submission {
	border: 1px solid black;
	width: 700px;
	padding: 20px 20px 20px 50px;
	background-color: lightgray;
	float: left;
	padding: 20px;
}
#grading {
	width: 700px;
	border: 1px solid black;
	padding: 20px;
	background-color: lightgray;
}
h5 {
	font-size: 25px;
}
#article p::first-letter  {
    font-size: 1.5rem;
    font-weight: bold;
    color: 3b4358;
}
footer ul {
    list-style-type: none;
}
#submission img {
	margin-left: 200px;
}
table, th, td {
    border: 1px solid;
    margin: 80px auto;
    font-size: 20px;
}
td:nth-child(2n){
    background-color: lightgreen;
}
aside {
    width: 30%;
    padding-left: 15px;
    background-color: lightgray;
    float: right;
    margin: 0 1.5%;
    margin-bottom: 300px;
    display: inline-block;
    vertical-align: top; 
    margin-top: -400px;
}
#submission, #grading	{
	width: 50%;
	float: left;
	margin: 0 1.5%;
    display: inline-block;
    vertical-align: top;
}
footer a {
    text-decoration: none;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
        footer {
            flex-direction: column;
            text-align: center;
            font-size: 1em;
            height: auto;
            overflow: hidden;

        }
        .map iframe {
        	width: 80%;
        }
        .contacts, .categories, .quick_links {
  			box-sizing: border-box;
  			margin: 0 auto;
        }
        p {
        	font-size: 1em;
        }
        .banner {
        	font-size: 2.6em;
        }
        nav ul {
    		flex-direction: column;
    		align-items: center;
  		}  
 		nav li {
    		margin: 1% 0;
  		}
  		#submission img {
  			max-width: 70%;
  			height: 70%;
  			float: right;
  			margin-right: 10%;
  		}
  		#submission ul li {
  			float: right;
  			margin-right: 30%;
  		} 
  		#submission {
  			width: 80%
  		}
  		#task p {
  			margin-top: 10%;
  			width: 100%;
  		}
  		aside {
  			width: 80%;
  			margin-top: 10%;
  		}
  		#grading {
  			width: 80%;
  			margin-top: 10%;
  		}
  		table, th, td {
		 	font-size: 1em;
		 }
		 table {
		 	table-layout: fixed;
		 	width: 80%;
		 }
		 body {
		 	font-size: 16px;
		 }
		 #task img {
		 	max-width: 100%;
		 	height: auto;
		 	display:block;
        	margin-left: 5%;
		 }
		 #task p {
		 	float: right;
		 	margin-right: 15%;
		 }
		#requirements h2{
			margin-top: 100%;
		}
	.menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
		#submission img {
		  	max-width: 80%;
		  	height: 80%;
		  	float: right;
            padding-right: 15%;
		}
		#submission ul li {
			float: right;
			padding-right: 40%;
			text-align: center;

		}
  		footer {
            text-align: center;
            font-size: 1em;
            height: auto;
            overflow: hidden;
        }
        .map iframe {
        	width: 80%;
        }
        .categories, .quick_links {
        	display: inline-block;
        	margin: 0 auto;
        }
        body {
        	font-size: 1em;
        }
        #task img {
        	margin-left: 30%;
        	float: left;
        	display: block;

         }
       #task p{
       	float: right;
       	margin-right: 10%;
       }
       #requirements h2{
       	margin-top: 25%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1179px) {
		#submission img {
		  	max-width: 90%;
		  	height: 90%;
		  	float: right;
            padding-right: 20%;
		}
		#submission ul li {
			float: right;
			padding-right: 35%;
			text-align: center;

		}
		  
       #task img {
	       	width: 30%;
	       	height: auto;
	       	margin-left: 30%;
	       	display: inline-grid;

       }
    
       #task p {
	       	height: auto;
	       	width: 90%;
	       	display: inline-grid;
	       	margin-left: 15%;
       }
     
       
       #requirements {
		margin-top: 10%;
	}
	 .categories, .quick_links {
        	display: inline-block;
        	margin: 0 auto;
        }
        footer {
            text-align: center;
            font-size: 1.05em;
            height: auto;
            overflow: hidden;
        }
}
@media only screen and (min-width: 1180px)  {
	 .categories, .quick_links {
        	display: inline-block;
        	margin: 0 auto;
        }
        footer {
            text-align: center;
            font-size: 1.1em;
            height: auto;
            overflow: hidden;
        }
}
		#task p {
			width: 70%;
		}

}